[include]
	path = ~/.gitconfig.secret

[core]
    excludesfile = ~/.gitignore

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	ui = auto

[merge]
	conflictstyle = diff3

[rebase]
	autosquash = true

[branch]
	autosetuprebase = always

[submodule]
	recurse = true

[credential]
	helper = store
