[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh.backup/fzf"]
	path = zsh.backup/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug.git
[submodule "zsh/fzf"]
	path = zsh/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/fzf-git.sh"]
	path = zsh/fzf-git
	url = https://github.com/junegunn/fzf-git.sh.git
[submodule "nano/nanorc.d"]
	path = nano/nanorc.d
	url = https://github.com/scopatz/nanorc.git
    ignore = dirty
[submodule "anaconda/conda-zsh-completion"]
	path = zsh/conda/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion
