[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh.backup/fzf"]
	path = zsh.backup/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/fasd"]
	path = zsh/fasd
	url = https://github.com/clvv/fasd.git
[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug.git
[submodule "zsh/fzf"]
	path = zsh/fzf
	url = https://github.com/junegunn/fzf.git
